<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <h1 class="titulo-sidebar" routerLink="home">LicitAL</h1>

    <div style="margin-top: 16px;">
      <mat-divider></mat-divider>

      <button mat-button class="menu-button" style="color: #EFF2FB;" [routerLinkActive]="'active'"  routerLink="home">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>

      <button mat-button class="menu-button" style="color: #EFF2FB;" [routerLinkActive]="'active'" routerLink="about">
        <mat-icon>info</mat-icon>
        <span>Sobre</span>
      </button>
    </div>
  </mat-sidenav>
  <div>
    <router-outlet></router-outlet>
  </div>

</mat-sidenav-container>
