<mat-sidenav-container>
  <mat-sidenav-content class="content mat-elevation-4" style="margin-left: 16px">

    <mat-icon class="icone"> place</mat-icon>
    <select style="background-color: #533A71">
      <option selected value="0">Selecione</option>
      <option value="1">Maragogi</option>
      <option value="2">Maceio</option>
      <option value="3">Seila</option>
    </select>

    <div class="chart mat-elevation-z4">
      <canvas #meuCanvas></canvas>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
