<mat-sidenav-container>
  <mat-sidenav-content class="content mat-elevation-4" style="margin-left: 16px">

    <mat-icon class="icone">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> place</mat-icon>
    <select style="background-color: #533A71">
      <option selected value="0">Selecione</option>
      <option value="1">Maragogi</option>
      <option value="2">Maceio</option>
    </select>

    <div class="chart mat-elevation-z4">
      <canvas #meuCanvas></canvas>

      <div class="p-field p-col-12 p-md-4" style="margin-top: 45px;">
        <p-knob [(ngModel)]="value" [size]="200" valueColor="MediumPurple">
        </p-knob>
        <h1 class="p-mt-3" style="margin-left: 70px;">Total</h1>
        
      </div>

      <div class="p-field p-col-12 p-md-4" style="margin-top: -244px; margin-left: 372px;">
        <p-knob [(ngModel)]="value" [size]="200" valueColor="MediumPurple">
        </p-knob>
        <h1 class="p-mt-3" style="margin-left: 40px;">Total Gasto</h1>
      </div>

    </div>


  </mat-sidenav-content>
</mat-sidenav-container>
