@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;900&display=swap');


mat-sidenav-container {
  height: 100vh;
}

mat-sidenav {
  flex-shrink: 0;
  padding: 8px;
  text-align: center;
  width: 200px;
  height: 100vh;
  border-radius: 0px 20px 20px 0px;
  background: var(--Tertiary-Blue, #533A71);

}

.content {
  height: calc(100vh - 35px);
  border-radius: 10px;
  margin: 16px;
  margin-left: 216px;
  font-size: 2rem;
  background-color: rgb(241, 241, 241);
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-sidenav-content {
  margin-left: 16px;
}

.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 24px;
  margin-bottom: 16px;
}

.menu-button mat-icon {
  margin-right: 8px;
}

.titulo-sidebar {
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
  font-size: 2rem;
  background: -webkit-linear-gradient(left, #EFF2FB 61%, #A99CB8 50%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline;
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: #A99CB8;
}

:root {
  --arrow-bg: rgba(255, 255, 255, 0.3);
  --arrow-icon: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg);
  --option-bg: white;
  --select-bg: rgba(255, 255, 255, 0.2);
}

* {
  box-sizing: border-box;
}

/* <select> styles */

select {
  /* Reset */
  appearance: none;
  border: 0;
  outline: 0;
  font: inherit;
  /* Personalize */
  height: 4rem;
  width: 20rem;
  padding: 1rem 4rem 1rem 1rem;
  background: var(--arrow-icon) no-repeat right 0.8em center / 1.4em, linear-gradient(to left, var(--arrow-bg) 3em, var(--select-bg) 3em);
  color: #EFF2FB;
  border-radius: 1em;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  position: absolute;
  top: 16px;
  /* Alinha no topo da div pai */
  left: 50%;
  /* Centraliza horizontalmente */
  transform: translateX(-50%);
  font-size: 1.5rem;
}

select::-ms-expand {
  display: none;
}

select:focus {
  outline: none;
}

select option {
  color: inherit;
  background-color: var(--option-bg);
}

.icone {
  position: absolute;
  top: 34px;
  /* Alinha no topo da div pai */
  left: 36%;
  /* Centraliza horizontalmente */
  transform: translateX(-50%);
  font-size: 2rem;
  width: 30px;
  height: 30px;
  color: #533A71;
}

.chart {
  width: 600px;
  height: 350px;
  padding-top: 30px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 120px;
}

* {
  font-family: Nunito, sans-serif;
}