<!-- conteudo feito com base no template
  https://developer.mozilla.org/pt-BR/docs/Learn/HTML/Multimedia_and_embedding/Images_in_HTML
-->

<mat-sidenav-container>
  <mat-sidenav-content class="content mat-elevation-4" style="margin-left: 16px;">

    <div class="responsive-container-block bigContainer">
      <div class="responsive-container-block Container">
        <div class="imgContainer">
          <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12">
            <div class="">
              <img class="cardImg" src="https://media.licdn.com/dms/image/D4E03AQHwnVSFzpg2sA/profile-displayphoto-shrink_800_800/0/1676680885318?e=1703116800&v=beta&t=FHuGV0hSIpgp2xbiL-lxd3qKpccm-MLnP4_0mhRp8j0">
            </div>
            <div class="cardText">
              <p class="text-blk cardHeading">
                Iago Passaglia
              </p>
              <p class="text-blk cardSubHeading">
                Estudante | Eng. Software - UnB
              </p>
            </div>
          </div>
          <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12">
            <div class="">
              <img class="cardImg" src="assets/images/fotoDiego.png">
            </div>
            <div class="cardText">
              <p class="text-blk cardHeading">
                Diego Sousa
              </p>
              <p class="text-blk cardSubHeading">
                Estudante | Eng. Software - UnB
              </p>
            </div>
          </div>
          <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12">
            <div class="">
              <img class="cardImg" src="assets/images/fotoMarco.png">
            </div>
            <div class="cardText">
              <p class="text-blk cardHeading">
                Marco Tulio Soares
              </p>
              <p class="text-blk cardSubHeading">
                Estudante | Eng. Software - UnB
              </p>
            </div>
          </div>
          <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12">
            <div class="">
              <img class="cardImg" src="assets/images/fotoPh.png">
            </div>
            <div class="cardText">
              <p class="text-blk cardHeading">
                Pedro Henrique Fernandino
              </p>
              <p class="text-blk cardSubHeading">
                Estudante | Eng. Software - UnB
              </p>
            </div>
          </div>
          <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12">
            <div class="">
              <img class="cardImg" src="assets/images/fotoJoyce.jpg">
            </div>
            <div class="cardText">
              <p class="text-blk cardHeading">
                Joyce Dionizio
              </p>
              <p class="text-blk cardSubHeading">
                Estudante | Eng. Software - UnB
              </p>
            </div>
          </div>
          <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12">
            <div class="">
              <img class="cardImg" src="https://media.licdn.com/dms/image/D4E35AQHCQg4kmJSAmg/profile-framedphoto-shrink_800_800/0/1664551492714?e=1698105600&v=beta&t=vRLj09l77nCw3sW_S-LUf-AIHixU268gO-CodFh0siY">
            </div>
            <div class="cardText">
              <p class="text-blk cardHeading">
                Douglas Marinho
              </p>
              <p class="text-blk cardSubHeading">
                Estudante | Eng. Software - UnB
              </p>
            </div>
          </div>
          <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12">
            <div class="">
              <img class="cardImg" src="assets/images/fotoBruno.png">
            </div>
            <div class="cardText">
              <p class="text-blk cardHeading">
                Bruno Araújo
              </p>
              <p class="text-blk cardSubHeading">
                Estudante | Eng. Software - UnB
              </p>
            </div>
          </div>
        </div>

        <div class="responsive-container-block textSide">
          <p class="text-blk heading" >
            Sobre Nós
          </p>
          <p class="text-blk subHeading">
            Bem-vindo ao LicitAL! Somos um grupo de sete estudantes do curso de Engenharia de Software da UnB,
            trabalhando em um desafio proposto por nossa professora da disciplina MDS. <br><br>

            Este site é o resultado de nosso trabalho com base no projeto "Querido Diário", um projeto de código aberto que foi o
            foco do nosso desafio acadêmico. Nossa jornada envolveu enfrentar uma série de obstáculos e aprender juntos
            ao longo do caminho. Combinamos nossas habilidades e conhecimentos para explorar o potencial deste projeto
            desafiador.<br><br>

            Nossa meta foi contribuir com novas ideias e melhorias para o "Querido Diário" enquanto mergulhamos nas
            complexidades do desenvolvimento de software. Esperamos que você aproveite o que construímos e, se tiver
            algum feedback ou sugestão, não hesite em entrar em contato.<br><br>

            Agradecemos sua visita ao LicitAL e esperamos que nossa jornada possa inspirar outros estudantes e
            entusiastas da Engenharia de Software.
          </p>
        </div>
      </div>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
