<!-- conteudo feito com base no template
  https://developer.mozilla.org/pt-BR/docs/Learn/HTML/Multimedia_and_embedding/Images_in_HTML
-->

<mat-sidenav-container>
  <mat-sidenav-content class="content mat-elevation-4" style="margin-left: 16px;">

    <div class="responsive-container-block bigContainer">
      <div class="responsive-container-block Container">
        <div class="imgContainer">
          <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12">
            <div class="cardImgContainer">
              <img class="cardImg" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/id2.svg">
            </div>
            <div class="cardText">
              <p class="text-blk cardHeading">
                Iago Passaglia
              </p>
              <p class="text-blk cardSubHeading">
                Estudante | Eng. Software - UnB
              </p>
            </div>
          </div>
          <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12">
            <div class="cardImgContainer">
              <img class="cardImg" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/id2.svg">
            </div>
            <div class="cardText">
              <p class="text-blk cardHeading">
                Diego Sousa
              </p>
              <p class="text-blk cardSubHeading">
                Estudante | Eng. Software - UnB
              </p>
            </div>
          </div>
          <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12">
            <div class="cardImgContainer">
              <img class="cardImg" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/id2.svg">
            </div>
            <div class="cardText">
              <p class="text-blk cardHeading">
                Marco Tulio Soares
              </p>
              <p class="text-blk cardSubHeading">
                Estudante | Eng. Software - UnB
              </p>
            </div>
          </div>
          <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12">
            <div class="cardImgContainer">
              <img class="cardImg" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/id2.svg">
            </div>
            <div class="cardText">
              <p class="text-blk cardHeading">
                Pedro Henrique Fernandino
              </p>
              <p class="text-blk cardSubHeading">
                Estudante | Eng. Software - UnB
              </p>
            </div>
          </div>
          <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12">
            <div class="cardImgContainer">
              <img class="cardImg" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/id2.svg">
            </div>
            <div class="cardText">
              <p class="text-blk cardHeading">
                Pedro Henrique Fernandino
              </p>
              <p class="text-blk cardSubHeading">
                Estudante | Eng. Software - UnB
              </p>
            </div>
          </div>
          <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12">
            <div class="cardImgContainer">
              <img class="cardImg" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/id2.svg">
            </div>
            <div class="cardText">
              <p class="text-blk cardHeading">
                Pedro Henrique Fernandino
              </p>
              <p class="text-blk cardSubHeading">
                Estudante | Eng. Software - UnB
              </p>
            </div>
          </div>
          <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12">
            <div class="cardImgContainer">
              <img class="cardImg" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/id2.svg">
            </div>
            <div class="cardText">
              <p class="text-blk cardHeading">
                Pedro Henrique Fernandino
              </p>
              <p class="text-blk cardSubHeading">
                Estudante | Eng. Software - UnB
              </p>
            </div>
          </div>
        </div>

        <div class="responsive-container-block textSide">
          <p class="text-blk heading" >
            Sobre Nós
          </p>
          <p class="text-blk subHeading">
            Bem-vindo ao LicitAL! Somos um grupo de sete estudantes do curso de Engenharia de Software da UnB,
            trabalhando em um desafio proposto por nossa professora da disciplina MDS. <br><br>

            Este site é o resultado de nosso trabalho com base no projeto "Querido Diário", um projeto de código aberto que foi o
            foco do nosso desafio acadêmico. Nossa jornada envolveu enfrentar uma série de obstáculos e aprender juntos
            ao longo do caminho. Combinamos nossas habilidades e conhecimentos para explorar o potencial deste projeto
            desafiador.<br><br>

            Nossa meta foi contribuir com novas ideias e melhorias para o "Querido Diário" enquanto mergulhamos nas
            complexidades do desenvolvimento de software. Esperamos que você aproveite o que construímos e, se tiver
            algum feedback ou sugestão, não hesite em entrar em contato.<br><br>

            Agradecemos sua visita ao LicitAL e esperamos que nossa jornada possa inspirar outros estudantes e
            entusiastas da Engenharia de Software.
          </p>
        </div>
        <img class="redDots" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/cw3.svg">
      </div>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
